POSTMARK=
AUTH0_CERTIFICATE="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAytq+g+bRY+BO8RVsBAeq\nAwwsp17PE9Z0FobdkJEyLXB7mbYhpc8mt7J6r4z9YI502i+vrQM8rc0jJoszwqJl\nDf0qAFqu0mNlskdDtfoSb7Mj7Bm7qFlWyQavuOFe3FtwWUqje5lcYqarB8Xa+eZS\nwcIUx8xZbKEXd/QB6UfC1tLcrVwPI7OtY4zW7qDFZ8ulKSwKz9zkuRD85WbMN+N5\ncX7EQ7Z+VPEDJowNy/Fe+C/f6lygmJGeYPYv9ASDasdjhlASKLDAJSdkljasXN28Af9Z\nLDMo8E0wP/eS/D6TTCTNOezJFWjHOlGpv4Un++8HcZM0s0z0p+CWiVRhTUqXsdDy\nzQIDAQAB\n-----END PUBLIC KEY-----\n"
HOST_NAME=