<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><%= link_to 'Posts', admin_posts_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Add New Post</li>
  </ol>
</nav>
<%= render 'form' %>