<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @email %></h1>
    <p>
      I have published a new post '<%= link_to @post.title, "http://my_domain/posts/#{@post.id}" %>'
    </p>
  </body>
</html>