<%= form_for @subscriber do |f| %>
  <div class="input-group mb-3">
    <%= f.text_field :email, class: "form-control", placeholder: "Your email Address", required: true, type: :email %>
    <div class="input-group-append">
      <%= f.submit 'Sign Up', class: "btn btn-outline-secondary" %>
    </div>
  </div>
<% end %>