<div class="row" style="margin-bottom: 2rem">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        If you would like to receive notifications about new posts, then please consider signing up.
      </div>
      <div class="card-body">
        <%= render 'subscribers/form' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <% @posts.each do |post| %>
    <div class="col-xs-12 col-md-6 col-lg-3" style="align-items: stretch; display: flex">
      <div class="card c-card">
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= time_tag(post.created_at) %></h6>
          <p class="card-text"><%= truncate(post.intro, length: 100) %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>