@import "bootstrap";
@import "font-awesome";

@import "admin/components/c-nav";
@import "admin/components/c-footer";
@import "utilities/*";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
  /* Margin bottom by footer height */
}